<head></head>
<body>
<div class="notice">グループを作成しました</div>
<div class="side-box">
<div class="side-header">sideheader
<i class="fa fa-edit"></i>
<i class="fa fa-cog"></i>

</div>
<div class="groups">groups</div>
</div>

<div class="main-box">
<div class="main-header">mainheader
<div class="main-header_edit-btn">Edit</div>
</div>
<div class="messages">messages</div>
<div class="form">
<div class="input-box">
<input placeholder="type a message" class="input-box_text"
type="text" name="message[content]" id="message_content">
<label class="input-box_image" for="message_image">
<i class="fa fa-image"></i>
</label>
</div>
<input type="submit" name="commit" value="Send" class="submit-btn"
date-disable-with="Send">
</div>
</div>
</div>
</body>
