*{
  box-sizing:border-box;
}
html{
  overflow:auto;
  width:100%;

body{
  overflow:hidden;
  width:100%;
  background: #000080;
}
}
.notice{
  background-color: $main-topground;
  height: 25px;
  color:$all-fontcolor;
  text-align:center;
  line-height: 25px;
}

.side-box{
  float:left;
  width: 400px;
  height: calc(100vh - 250px);
}

.side-header{
  display: flex;
  background-color: #000080;
  height:  150px;
  color: $all-fontcolor;
  font-weight: bold;
  h1{
    font-size: 13px;
    padding-bottom: 20px;
  }
  .header__name{
    margin-top: 10px;
    font-size: 25px;
    margin-left: 30px;
  }

  .icon-box{
    margin-top: 10px;
    margin-left: 60px;
  }
  .icon-box__top{
    display: flex;
  }
  
 .icon-box__bottom{
   display: flex;
 }

  .fa{
  color: white;
  margin-top: 11px;
  margin-left:15px;
}
}

.groups{
  background-color:#191970;
  height: calc(100vh - 10px);
  padding-left:20px;
  overflow: scroll;
  color: #ddd;
}
h5{
  color: #ddd;
  font-size: 35px;
  margin-top: 20px;
  margin-left: 60px;
}

.group{
  margin-top:30px;
}
.group__name{
  font-size: 15px;
  padding-bottom:5px;
}
.group a{
  color:white;
  text-decoration:none;
  font-size:11px;
}


.main-box{
 float:left;
 width: calc(100% - 400px);
}
.main-header{
background-color:#000080;
height: 150px;
border: $main-bottomground;
position:relative;
width: 100%;
}

.main-header h2{
  font-size: 20px;
  padding-top: 35px;
  padding-left:35px;
  white-space: nowrap;
  color: red;
}

.main-header_left-box{
  height: 150px;
  font-size:12px;
  color: #999999;
  padding-left: 35px;
}
.main-header_left-box_member-list{
  padding-top: 10px;
  padding-left: 37px;
}

.main-header_edit-btn{
  height: 40px;
  line-height:40px;
  padding: 0 20px;
  border: solid 1px $main-topground;
  position: absolute;
  right:40px;
  bottom: 30px;
  color:$main-topground;
}
a{
  text-decoration: none;
  color: $main-topground;
}
.messages{
  background-color:#191970;
  height:calc(100vh - 190px);
  position:relative;
  overflow: scroll;
}
.message{
  margin-top:45px;
  margin-left: 40px;
}
.upper-message{
  display:flex;
}
.upper-message__user-name{
  color: black;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.upper-message__date{
 color:#999999;
 font-size: 12px;
 margin-left: 10px;
 white-space: nowrap;
}

.lower-message{
  color: #ddd;
  font-size: 14px;
  margin-top: 10px;
  white-space: nowrap;
}
.timer {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 280px;
  margin: 20px;
  padding: 30px;
  background: red;
  border-radius: 20px;
  box-shadow: 2px 2px 1px 0px #ebbcce;
  box-sizing: border-box;
  position: absolute;
  bottom: 30px;
  left: 1150px;
}

/* 液晶部分の装飾 */
.timer_display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  background: #949494;
  font-size: 60px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px #666 inset;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

/* ボタンの装飾 */
.timer_button {
  content: "";
  display: block;
  order: 2;
  width: 40px;
  height: 40px;
  margin: 24px auto;
  background: #fff;
  border-radius: 50%;
  box-shadow: -70px 0px #fff, 70px 0px #fff;
}

/* キーフレームの設定 */
@keyframes time {
0% {transform: translate(0,0px);}
100%{transform: translate(0,-6000px);}
}

@keyframes flash {
0% {opacity: 1;}
100% {opacity: 0;}
}

/* 数字を準備する */
.timer_display::before,
.timer_display::after {
  display: block;
  content:'00\a 01\a 02\a 03\a 04\a 05\a 06\a 07\a 08\a 09\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59';
  white-space: pre;
}

/* 分の計算・アニメーション */
.timer_display::before {
  animation: time 3600s steps(60, end), flash 1s steps(2, start);
  animation-direction: var(--timer_direction);
  animation-delay: calc(-1s * (3600 - 60*var(--timer_min) - var(--timer_sec))), calc(1s * (60*var(--timer_min) + var(--timer_sec)));
  animation-iteration-count: 1, infinite;
}

/* 秒の計算・アニメーション */
.timer_display::after {
  animation: time 60s steps(60, end), flash 1s steps(2, start);
  animation-direction: var(--timer_direction);
  animation-delay: calc(-1s* (60 - var(--timer_sec))), calc(1s * (60*var(--timer_min) + var(--timer_sec)));
  animation-iteration-count: calc(var(--timer_min) + 1), infinite;
}

/* コンマのアニメーション */
.timer_display  div::before {
  content: ":";
}

.timer_display  div {
  animation: flash 1s steps(2, start) infinite;
}

/* ボタンにhoverしたときにタイマーを止める */
.timer_button:hover + .timer_display::before,
.timer_button:hover + .timer_display::after {
  animation-play-state: paused;
}

.timers {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 280px;
  margin: 20px;
  padding: 30px;
  background:black;
  border-radius: 20px;
  box-shadow: 2px 2px 1px 0px #ebbcce;
  box-sizing: border-box;
  position: absolute;
  bottom: 30px;
  left: 900px;
  color: #990000 ;
}

/* 液晶部分の装飾 */
.timers_display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  background: #949494;
  font-size: 60px;
  border-radius: 2px;
  box-shadow: 0px 0px 4px #666 inset;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

/* ボタンの装飾 */
.timers_button {
  content: "";
  display: block;
  order: 2;
  width: 40px;
  height: 40px;
  margin: 24px auto;
  background: #fff;
  border-radius: 50%;
  box-shadow: -70px 0px #fff, 70px 0px #fff;
}

/* キーフレームの設定 */
@keyframes times {
0% {transform: translate(0,0px);}
100%{transform: translate(0,-6000px);}
}

@keyframes flash {
0% {opacity: 1;}
100% {opacity: 0;}
}

/* 数字を準備する */
.timers_display::before,
.timers_display::after {
  display: block;
  content:'00\a 01\a 02\a 03\a 04\a 05\a 06\a 07\a 08\a 09\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59';
  white-space: pre;
}

/* 分の計算・アニメーション */
.timers_display::before {
  animation: time 3600s steps(60, end), flash 1s steps(2, start);
  animation-direction: var(--timer_direction);
  animation-delay: calc(-1s * (3600 - 60*var(--timer_min) - var(--timer_sec))), calc(1s * (60*var(--timer_min) + var(--timer_sec)));
  animation-iteration-count: 1, infinite;
}

/* 秒の計算・アニメーション */
.timers_display::after {
  animation: time 60s steps(60, end), flash 1s steps(2, start);
  animation-direction: var(--timer_direction);
  animation-delay: calc(-1s* (60 - var(--timer_sec))), calc(1s * (60*var(--timer_min) + var(--timer_sec)));
  animation-iteration-count: calc(var(--timer_min) + 1), infinite;
}

/* コンマのアニメーション */
.timers_display  div::before {
  content: ":";
}

.timers_display  div {
  animation: flash 1s steps(2, start) infinite;
}

/* ボタンにhoverしたときにタイマーを止める */
.timers_button:hover + .timer_display::before,
.timers_button:hover + .timer_display::after {
  animation-play-state: paused;
}
.form{
  bottom:0;
  background-color:#008BBB;
  height:90px;
  padding: 20px 40px;
  width: 100%;
}
.input-box{
  position: relative;
}
.input-box i{
  position: absolute;
  right: 140px;
  bottom: 38px;
  color:black;
}
.hidden{
  visibility: hidden;
  bottom: 0px;
}
.input-box_text{
  height: 50px;
  padding:0 40px 0 10px;
  color: #434a54;
  border-style: none;
  width: 88%;
  border-radius: 3px;
}
.submit-btn{
  width: 100px;
  height: 50px;
  right:45px;
  background-color:$main-topground;
  color: $all-fontcolor;
  cursor: pointer;
  position:absolute;
  bottom:-30px;
  border-radius: 5px;
}