*{
  box-sizing:border-box;
}
.notice{
  background-color: #38AEF0;
  height: 25px;
  color:white;
  text-align:center;
  line-height: 25px;
}

.side-box{
  float:left
}

.side-header{
  background-color: #253141;
  width: 300px;
  height: 100px;
  color:white;
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
  padding-left: 20px;
}
.fa{
  float:right;
  margin-top:45px;
  margin-right:10px;
}

.groups{
  background-color:#2f3e51;
  width:300px;
  height: 700px;
  color:white;
  padding-left:20px;
}

.main-box{
 float:left;
}
.main-header{
background-color:white;
padding-right: 1000px;
height: 75px;
border: #ddd;
position:relative;
}
.main-header_edit-btn{
  height: 40px;
  line-height:40px;
  padding: 0 20px;
  border: solid 1px #38aef0;
  position: absolute;
  right: 40px;
  bottom: 30px;
color: #38aef0;
}
.messages{
  background-color:#fafafa;
  width:1000px;
  padding-right: 1140px;
  height:700px;
  position:relative;
}
.form{
  position:absolute;
  bottom:0;
  background-color:#ddd;
  height:90px;
  padding: 20px 40px;
  width:1140px;
  position:fixed;
}
.input-box{
  position: relative;
  width:600px;
}
.input-box i{
  position: absolute;
  left:900px;
  bottom: 15px;
}
.input-box_text{
  height: 50px;
  padding:0 40px 0 10px;
  color: #434a54;
  border-style: none;
  width: 930px;
}
.submit-btn{
  width: 100px;
  height: 50px;
  margin-left: 970px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
  position:absolute;
  bottom:20px;
}