*{
  box-sizing:border-box;
}
html{
  overflow:auto;

body{
  overflow:hidden;
}
}
.notice{
  background-color: $main-topground;
  height: 25px;
  color:$all-fontcolor;
  text-align:center;
  line-height: 25px;
}

.side-box{
  float:left;
}

.side-header{
  display: flex;
  background-color: #253141;
  width: 300px;
  height: 100px;
  color: $all-fontcolor;
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
  padding-left: 20px;
  .icon-box{
    margin-left: 100px;
  }
}
.fa{
  margin-right:10px;
  color: white;
}

.groups{
  background-color:#2f3e51;
  width:300px;
  height: calc(100vh - 100px);
  padding-left:20px;
  overflow: scroll;
}
.group{
  margin-top:30px;
}
.group__name{
  font-size: 15px;
  padding-bottom:5px;
}
.group a{
  color:white;
  text-decoration:none;
  font-size:11px;
}


.main-box{
 float:left;
 width:900px;
}
.main-header{
background-color:$all-fontcolor;
padding-right: 900px;
height: 100px;
border: $main-bottomground;
position:relative;
}

.main-header h2{
  font-size: 20px;
  padding-top: 35px;
  padding-left:35px;
  white-space: nowrap;
}

.main-header ul{
  display: flex;
  font-size:12px;
  color: #999999;
  padding-left: 35px;
  white-space: nowrap;
}


.main-header_edit-btn{
  height: 40px;
  line-height:40px;
  padding: 0 20px;
  border: solid 1px $main-topground;
  position: absolute;
  left:1000px;
  bottom: 30px;
  color:$main-topground;
}
a{
  text-decoration: none;
  color: $main-topground;
}
.messages{
  background-color:#fafafa;
  width:1000px;
  padding-right: 1140px;
  height:calc(100vh - 190px);
  position:relative;
  overflow: scroll;
}
.message{
  margin-top:45px;
  margin-left: 40px;
}
.upper-message{
  display:flex;
}
.upper-message__user-name{
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.upper-message__date{
 color:#999999;
 font-size: 12px;
 margin-left: 10px;
 white-space: nowrap;
}

.lower-message{
  color: #434a54;
  font-size: 14px;
  margin-top: 10px;
  white-space: nowrap;
}
.form{
  bottom:0;
  background-color:$main-bottomground;
  height:90px;
  padding: 20px 40px;
  width: 1140px;
}
.input-box{
  position: relative;
  width:600px;
}
.input-box i{
  position: absolute;
  left:900px;
  bottom: 38px;
  color:black;
}
.hidden{
  visibility: hidden;
  bottom: 0px;
}
.input-box_text{
  height: 50px;
  padding:0 40px 0 10px;
  color: #434a54;
  border-style: none;
  width: 930px;
}
.submit-btn{
  width: 100px;
  height: 50px;
  right:50px;
  background-color:$main-topground;
  color: $all-fontcolor;
  cursor: pointer;
  position:absolute;
  bottom:20px;
}